.login-box{
    .login-logo-blank{
        text-align: center;
        img{
            height: 100px;
        }
        transform: translateY(100px);
        
    }
    .animate{
        transition-timing-function: ease-in-out;
        transition: 500ms;
        transform: translateX(0)
    }
}

