@import "../../../constants.scss";

.userlisttable{
    .clmSl{
        width:5%;
    }
    .clmName,.clmEmail{
        width: 15%;
    }

    .clmStatus,{
        width: 7%;
    }

    .clmDate,{
        width: 15%;
    }

    .clmAction,{
        width: 7%;
    }

}