@import "./constants.scss";

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover{
    background-color: $theme-gree-color;
}

.theme-color{
    color: $theme-gree-color;
}


table.app_table{
    thead{
        tr{
            th{
                background: $theme-gree-color;
                color: $white;
            }
        }
    }
}

.app_logo_new{
    color: $theme-gree-color;
    margin: 5px 0 0 0;
}

.login-logo,.login-logo-blank{
    .app_logo_new{
        font-size: 100px;
    }
}

.box.box-success {
    border-top-color: #605ca8;
}

.treeview-menu{
    li{
       
        a{
            padding: 10px 10px 10px 15px;
        }
    }
    li.active{
        background: $theme-color;
    }
}