@import "../../constants.scss";

.searchInput{
    .input-group{
        .input-group-btn{
            button.btn{
                background: $theme-gree-color;
                color: $white;
            }
        }
    }
}