@import "../../constants.scss";

$modal-radius   :   5px;
.modal{
    .modal-content{
        .modal-header{
            background: $theme-gree-color;
            color: #fff;
            border-radius: $modal-radius $modal-radius 0 0;
        }
        .modal-body{
            p{
                font-size: 20px;
            }
        }
        border-radius:$modal-radius; 
    }
}

@media (min-width: 768px){
    .modal-dialog {
        margin: 200px auto;
    }
}