.login-box{
    .login-logo{
        img{
            height: 100px;
        }
    }
}

.login-box-body{
    .form-group{
        margin-bottom: 0;
        
    }
    .error_input{
        input:focus{
            border-color: red;
        }
        
    }
    .error{
        color: red;
        font-size: 12px;
        text-align: right;
        margin-bottom: 20px;
    }
}
